.editor {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.canvas-wrap {
	position: relative;
	max-width: 960px;
	max-height: 480px;
	border: #ddd 1px solid;
	overflow: hidden;
	line-height: 0;
}

.markers {
	position: absolute;
	top: 0;
	left: 0;
}

.markers > svg > .dragable:hover {
	cursor: move;
}

.markers > svg text {
    pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
